main#primary {
  min-height: calc(100vh - 100px);
  transition: transform $transition-time ease, opacity 1s ease;

  &.transition {
    transform: translateY(100%);
  }

  header.entry-header {
    width:100%;
    padding-left:$side-padding;
    padding-right:$side-padding;
    z-index:1;
    // position: sticky;
    top: 6.25em;
    @media screen and (max-width: $breakpoint-sm) {
      font-size:.9em;
    }

    .header__inner {
      position: relative;
      width:100%;
      max-width:$max-width;
      margin-left:auto;
      margin-right:auto;
      display: grid;
      grid-template-columns: $grid-pattern;
      grid-template-areas:". title subtitle";
      @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 5% 90% 5%;
      }

      .header__title {
        grid-area: title;
        margin:0;
        margin-bottom:.5em;
        font-family: $font-family;
        font-size: 2em;
        color: $secondary-color;
        display: inline-block;
        font-weight: 600;
        a {
          font-family: $font-family;
          font-size: 1em;
          color: $secondary-color;
          display: inline-block;
          font-weight: 600;
        }
        span.header__name {
          color: $primary-color;
          padding-left:.25em;
        }
      }
      .header__subtitle {
        grid-area: subtitle;
        font-size: .9em;
        text-align: right;
        width: max-content;
        position:absolute;
        right:0;
        top:0;
        margin:0;
        padding:0;
        @media screen and (max-width: $breakpoint-sm) {
          display: none;
        }
        .video__title {

        }
        .video__client {
          font-weight: 400;
          padding-left:.5ch;
        }
      }
    }
  }
  img.video__background {
    width: 100%;
    max-width: 100vw !important;
    height: calc(100vh - 400px);
    background-color: transparent;
    position: absolute;
    left: 0;
    object-fit:cover;
    opacity:.1;
    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }
  div.entry-content {
    width:100%;
    padding-left:$side-padding;
    padding-right:$side-padding;
    z-index:1;
    margin-top:0;

    .content__inner {
      width:100%;
      max-width:$max-width;
      margin-left:auto;
      margin-right:auto;
      display: grid;
      grid-template-columns: $grid-pattern;
      grid-template-areas:"gutter content .";
      @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 5% 90% 5%;
      }

      .content__content {
        grid-area: content;
      }
      .content__gutter {
        grid-area: gutter;
      }
    }

  }
}


body #page.single-director {
  .entry-content {

    padding-bottom:5em;

    p {
      max-width: 70ch;
      font-size:.9em;
      font-weight:400;
    }
    div.wp-block-wildgift-project + p {
      padding-top:5em;
    }
  }
  .entry-content, footer {
    background-color: $primary-color;
    color: $background-color;
    overflow-x:hidden;

    a {
      color: $background-color;
    }
  }
  footer {
    img {
      filter: invert(1);
    }
  }
}
